{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function getSelectedValues(){
        var radioButton1 = document.getElementsByName('exampleRadios1');
        var radioButton2 = document.getElementsByName('exampleRadios2');
        var radioButton3 = document.getElementsByName('exampleRadios3');
        var radioButton4 = document.getElementsByName('exampleRadios4');

        var selectedButton1 = null;
        var selectedButton2 = null;
        var selectedButton3 = null;
        var selectedButton4 = null;

        for(var i=0; i<radioButton1.length;i++){
            if(radioButton1[i].checked){
                selectedButton1 = radioButton1[i].value;
                break;
            }
        }
        for(var i=0; i<radioButton2.length;i++){
            if(radioButton2[i].checked){
                selectedButton2 = radioButton2[i].value;
                break;
            }
        }
        for(var i=0; i<radioButton3.length;i++){
            if(radioButton3[i].checked){
                selectedButton3 = radioButton3[i].value;
                break;
            }
        }
        for(var i=0; i<radioButton4.length;i++){
            if(radioButton4[i].checked){
                selectedButton4 = radioButton4[i].value;
                break;
            }
        }
        if(selectedButton1!=null && selectedButton2 != null && selectedButton3 != null){
            console.log("selected value for 1 is: "+selectedButton1);
            console.log("selected value for 2 is: "+selectedButton2);
            console.log("selected value for 3 is: "+selectedButton3);
            console.log("selected value for 4 is: "+selectedButton4);


        }
        else{
            alert("check all radio buttons")
        }
        /*$.ajax({
            type: "GET",
            url: url,
            data: {
                "selectedButton1": selectedButton1,
                "selectedButton2":selectedButton2,
                "selectedButton3":selectedButton3
            },
            dataType: "json",
            success: function (data) {
                // any process in data
                alert("successfull")
            },
            failure: function () {
                alert("failure");
            }
        });*/
        // Send the data to the Django view using AJAX
    var xhr = new XMLHttpRequest();
    var url = "{% url 'male_response' %}";  // Replace 'quiz_view' with the actual URL name for your quiz view
    var params = "selectedButton1=" + selectedButton1 + "&selectedButton2=" + selectedButton2 + "&selectedButton3=" + selectedButton3+ "&selectedButton4=" + selectedButton4;
    
    xhr.open("GET", url + "?" + params, true);

    xhr.setRequestHeader("Content-Type", "application/json"); 

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            // Do something with the response if needed
            console.log(xhr.responseText);
            console.log("success");
            var redirectURL = "{% url 'male_response' %}?" + 
                     "selectedButton1=" + selectedButton1 + 
                     "&selectedButton2=" + selectedButton2 + 
                     "&selectedButton3=" + selectedButton3 + 
                     "&selectedButton4=" + selectedButton4;
    
    window.location.href = redirectURL;
        }
        else{
            console.error("Request failed with status:", xhr.status);
        }
    };

    xhr.send();

    }


</script>

<!-- body -->



<div class="container-fluid">
	<div class="row">
        <div class = "col-md-12 m-5">
            <h2 style="text-align:center;">Take a Quiz to Find out what category of Glasses suit you</h2>
        </div>

        <div class="container">
            <h4 class = "my-2">What Color is your face</h4>
            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="brown">
              Brown
            </label>
            <br>
            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="white">
                  White
                </label>
                <br>
                <label class="form-check-label" style ="margin-left:19px"  for="exampleRadios1">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="pale">
                      Pale
                    </label>
                    <br>
                    <h4 class = "my-2">What Kind of Glasses are you Looking for?</h4>
                    <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                    <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="male">
                      Male
                    </label>
                    <br>
                    <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="female">
                          Female
                        </label>
                        <br>
                        <label class="form-check-label" style ="margin-left:19px"  for="exampleRadios1">
                            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="unisex">
                              Unisex
                            </label>
                            <br>
                            <h4 class = "my-2">Where Do you plan wearing your Glasses</h4>
                            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios1" value="outdoors">
                              Outdoors
                            </label>
                            <br>
                            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios1" value="indoors">
                                  Indoors
                                </label>
                                <br>
                                <label class="form-check-label" style ="margin-left:19px"  for="exampleRadios1">
                                    <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios1" value="both">
                                     Both
                                    </label>
                                    <br>
                                    <h4 class = "my-2">What is your face shape</h4>
                            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                            <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="Oval">
                              Oval
                            </label>
                            <br>
                            <label class="form-check-label" style ="margin-left:19px" for="exampleRadios1">
                                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="Triangle">
                                  Triangle
                                </label>
                                <br>
                                <label class="form-check-label" style ="margin-left:19px"  for="exampleRadios1">
                                    <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="Square">
                                     Square
                                    </label>
                                    <br>
                                    <label class="form-check-label" style ="margin-left:19px"  for="exampleRadios1">
                                        <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="Round">
                                        Round
                                        </label>
                                        <br>
                                    <button type="button" class="btn btn-success mt-5" onclick = "getSelectedValues()" >Submit</button>
        </div>

	
	</div>
</div>



{% endblock %}
